@model List<MPA_MoviePosterAwards.Web.Models.PosterViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .ms-pic {
        /*background-color: #AAAAAA;
        padding: 5px;*/
        text-align: center;
    }

    .ms-pic-display {
        background-color: #EEEEEE;
        height: 560px;
        /*padding: 5px 5px 20px 5px;*/
    }

        .ms-pic-display div {
            height: 100%;
            width: auto;
            position: relative;
            overflow: hidden;
            /*子元素垂直居中*/
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .ms-pic-display img {
            height: 100%;
            width: auto;
        }

            .ms-pic-display img.wide {
                width: 100%;
                height: auto;
            }

        .ms-pic-display a {
            position: absolute;
            right: 0;
            bottom: -3.2em;
            width: 100%;
            font-size: 1.6em;
            line-height: 1.6em;
            padding: 0.8em;
            text-align: center;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.5);
            color: #F1F1F1;
            transition: all 0.25s ease;
            border-radius: 0;
            border-top: 1px solid #FFFFFF;
        }

            .ms-pic-display a:hover {
                background-color: rgba(0, 0, 0, 0.75);
            }

        .ms-pic-display div:hover a {
            bottom: 0;
        }


    .ms-pic-prev {
        background-color: #CCCCCC;
        /*padding: 5px;*/
        text-align: center;
    }

        .ms-pic-prev > ul {
            list-style: none;
            padding: 5px 5px 0px 0px;
            margin: 0;
            display: inline-block;
            text-align: center;
        }

            .ms-pic-prev > ul li {
                height: 125px;
                display: inline-block;
                margin: 0px 0px 5px 5px;
                padding: 0;
                transition: all 0.25s ease;
            }

                .ms-pic-prev > ul li img {
                    height: 100%;
                    transition: inherit;
                }

                .ms-pic-prev > ul li.selected {
                }

                    .ms-pic-prev > ul li.selected img {
                        transform: translateY(-15px);
                        box-shadow: 0px 10px 10px rgba(0,0,0,0.8);
                    }
</style>



<div class="ms-container" style="padding:0px;">
    <div>

    </div>
    <div class="ms-pic">
        <div class="ms-pic-display">
            @foreach (var item in Model)
            {
                if (item.Active)
                {
                    <div>
                        <img src="~/Resources/Poster_M/@item.Poster_M" />
                        <a href="/Resources/Poster/@item.Poster" target="_blank">点击查看大图</a>
                    </div>
                }
            }
        </div>
        <div class="ms-pic-prev">
            <ul>
                @foreach (var item in Model)
                {
                    if (item.Active)
                    {
                        <li class="selected">
                            <img src="~/Resources/Poster_S/@item.Poster_S" />
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Poster/Index?id=@item.Id" title="@item.Poster"><img src="~/Resources/Poster_S/@item.Poster_S" /></a>
                        </li>
                    }
                }
            </ul>
        </div>
        @*@foreach (var item in Model)
            {
                <img src="~/Resources/Poster_M/@item.Poster_M" style="display:none;" />
            }*@
    </div>
</div>


@*<script>
        $(document).ready(function () {
            resetDisplay();
        });

        $('.ms-pic-prev > ul li').click(function () {
            $('.ms-pic-display img').css('margin', '0');
            $('.ms-pic-display img').removeClass('wide');//初始都是‘高’图片
            $('.ms-pic-prev > ul li').removeClass('selected');
            $(this).addClass('selected');
            var display = $(this).children('img').attr('src').toString();
            var filename = display.substr(display.lastIndexOf('/') + 1, display.indexOf('.') - display.lastIndexOf('/') - 3);
            var fileextension = display.substr(display.indexOf('.'), display.length - display.indexOf('.'));
            //console.log(filename);
            //console.log(fileextension);
            $('.ms-pic-display img').attr('src', display);
            $('.ms-pic-display a').attr('href', '/Resources/Poster/' + filename + fileextension);
            resetDisplay();
        });

        function resetDisplay() {
            // 先缓存 图片， 保证不会因为网速跟不上，图片没有加载出来而导致 column 的高度计算错误
            // 同时保证图片按顺序一张张加载
            var imgtemp = new Image();//创建一个image对象
            //display区域的图片size为M
            var previmg = $('.ms-pic-display img').attr('src').toString();
            var filename = previmg.substr(previmg.lastIndexOf('/') + 1, previmg.indexOf('.') - previmg.lastIndexOf('/') - 3) + '_M';
            var fileextension = previmg.substr(previmg.indexOf('.'), previmg.length - previmg.indexOf('.'));
            imgtemp.src = '/Resources/Poster_M/' + filename + fileextension;
            console.log(imgtemp.src);
            $('.ms-pic-display img').attr('src', '');

            imgtemp.onload = function () {
                $('.ms-pic-display img').attr('src', imgtemp.src);
                var width = $('.ms-pic-display img').css('width').replace('px', '');
                var displaywidth = $('.ms-pic-display').css('width').replace('px', '');
                if (width - displaywidth > 0) {
                    $('.ms-pic-display img').addClass('wide');
                }
            }
        }
    </script>*@
